body {
    background-color: rgb(162, 162, 162);
    font-family: "Big shoulders";
}

header, .headerbox, .boxHeadLine {
    background-color: rgb(230, 230, 230);
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form, #error, .displayUserInfos {
    background-color: rgb(230, 230, 230);

    border-top: black 2px solid;
    border-bottom: black 3px solid;
    border-right: black 3px solid;
    border-left: black 1px solid;

    flex-direction: column;
    justify-content: space-around;
    
    width: 300px;
    height: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form {
    display: none;
}
#error, .displayUserInfos {
    display: flex;
    padding: 2%;
}
.formFields {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button, input {
    font-family: "Big shoulders";
    background-color: white;
    border-radius: 0;
}
.closeButton {
    width: 20px;
    height: 20px;
    padding: 0;
}