/* #titre = nom du site
#grille = text
.bnt-choix = boutton sous le nonogramme
.nono-carre = grille autour du nonogramme
#nono-stock = carrée de nonongramme */

*{
    display: center;
    /*font-style: ;*/
}

main{
    text-align: center;
}

#titre{
    padding: 40px 40px;
    cursor: default;
}

#grille{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    margin-top: 25%;
}

button{
    cursor: pointer;
    padding: 0.5%;
    margin: 0.5%;
    margin-top: 0.5%;
}

.nono-carre {
    padding: 5% 5% 10%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 2%;
}

#nono-stock {
    border: 2px solid purple;
    padding: 2% 2% 2%;
    margin-right: 120%;
    margin-top: -22%;
    margin-left: -22%;
}